<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>{$category.name}_{$config.sitename}</title>
<meta name="keywords" content="{$config.keywords}" />
<meta name="description" content="{$config.description}" />
<link href="images/style.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="static/js/jquery.js"></script>
<script type="text/javascript" src="static/js/common.js"></script>
</head>

<body>
{include file='header.htm'}
<div class="page-wrap">
	<div class="bodyLeft">
		<div class="yourpos">当前位置：<a href="./">首页</a> >> 新闻中心 >> {$category.name}</div>
		<div class="article-wrap">
			<ul>
				{foreach from=$articles.list item=arc}
				<li><span>{$arc.dateline|date_format:'%Y-%m-%d %H:%M'}</span><a href="{$arc.arcurl}" target="_blank">{$arc.title}</a></li>
				{/foreach}
			</ul>
		</div>
		<div class="page">{$pagelink}</div>
	</div>
	<div class="bodyRight">
		{include file='right.htm'}
	</div>
	<div class="clear"></div>
</div>
{include file='footer.htm'}