<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>{$article.title}_{$config.sitename}</title>
<meta name="keywords" content="{$config.keywords}" />
<meta name="description" content="{$config.description}" />
<link href="images/style.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="static/js/jquery.js"></script>
<script type="text/javascript" src="static/js/common.js"></script>
<script type="text/javascript" src="static/js/checkform.js"></script>
<script type="text/javascript" src="static/js/comment.js"></script>
</head>

<body>
{include file='header.htm'}
<div class="page-wrap">
	<div class="bodyLeft">
		<div class="yourpos">当前位置：<a href="./">首页</a> >> <a href="arclist-{$article.cid}-1.html">{$article.name}</a> >> 正文</div>
		<h1 class="article-title">{$article.title}</h1>
		<div class="article-info">{$config.sitename}　{$article.dateline|date_format:'%Y-%m-%d %H:%M'}　浏览：{$article.views}</div>
		<div class="article-body">{$article.content}</div>
		<div class="titlediv">相关链接</div>
		<ul class="list">
			{foreach from=$articles.related item=arc}
			<li>·<a href="{$arc.arcurl}">{$arc.title}</a></li>
			{/foreach}
		</ul>
		<div class="titlediv">相关评论</div>
		<span id="article_comment">正在加载数据...</span>
		<script type="text/javascript">LoadData({$article.id})</script>
	</div>
	<div class="bodyRight">
		{include file='right.htm'}
	</div>
	<div class="clear"></div>
</div>
{include file='footer.htm'}