<div class="blank"></div> 
		<div class="titlediv"><span class="title">领导机构</span></div>
		<div class="lingdao"><img src="images/ld.jpg" border="0" class="avatar" />
			<p><strong>会长：</strong>严国立</p>
			<ul>
				<li><a href="about-4.html">本届会长</a></li>
				<li><a href="about-5.html">本会介绍</a></li>
				<li><a href="about-6.html">组织机构</a></li>
				<li><a href="about-7.html">本会职能</a></li>
				<li><a href="about-8.html">领导成员</a></li>
				<li><a href="about-9.html">本会章程</a></li>
				<li><a href="about-10.html">本会历史</a></li>
				<li><a href="about-11.html">本会宗旨</a></li>
				<li><a href="about-12.html">本会业务</a></li>
			</ul>
			<div class="clear"></div>
		</div>
		<div class="blank"></div> 
		<div class="titlediv"><span class="title">协会通告</span><span class="more"><a href="arclist-29-1.html">更多>></a></span></div>
		<ul>
			{foreach from=$articles.29 item=arc}
			<li><a href="{$arc.arcurl}">{$arc.title}</a></li>
			{/foreach}
		</ul>
		<div class="blank"></div>
		<div class="titlediv"><span class="title">协会新闻</span><span class="more"><a href="arclist-3-1.html">更多>></a></span></div>
		<ul>
			{foreach from=$articles.29 item=arc}
			<li><a href="{$arc.arcurl}">{$arc.title}</a></li>
			{/foreach}
		</ul>