body {padding:0; margin:0; background:#fff; font:12px Arial;}
a:link,a:active,a:visited{color:#333333; text-decoration:none;}
a:hover{color:#FF0000; text-decoration:underline;}
form,ul,ul li,p {padding:0px; margin:0px; list-style:none;}
.main-div {background: #FFF;margin: 5px 10px 10px 10px;}
.clear {height:1px; line-height:1px; clear:both;}
.blank {clear:both;height:10px;line-height:10px;}
.bottom-line {
    clear:both;
	height:1px;
	line-height:1px;
	border-bottom:2px #9CB8CC solid;
	margin-top:10px;
}

.button {
      background:-moz-linear-gradient(center top ,#FFFFFF,#DDDDDD) repeat scroll 0 0 transparent;
	  border:1px #999 solid;
	  padding:4px 5px 3px 5px;
	  display:inline-block;
	  -moz-border-radius:2px 2px 2px 2px;
	  font:Arial,sans-serif;
	  font-size:13px;
	  margin-right:5px;
	  vertical-align:middle;
	  filter:progid:DXImageTransform.Microsoft.Gradient(startColorStr='#FFFFFF', endColorStr='#DDDDDD', gradientType='0');
}

.button:hover {
      background:-moz-linear-gradient(center top ,#FFFFFF,#DDDDDD) repeat scroll 0 0 transparent;
	  border:1px #000 solid;
	  padding:4px 5px 3px 5px;
	  display:inline-block;
	  -moz-border-radius:2px 2px 2px 2px;
	  font:Arial,sans-serif;
	  font-size:13px;
	  margin-right:5px;
}

.button:active {
	  background:-moz-linear-gradient(center top,#DDDDDD,#FFFFFF) repeat scroll 0 0 #BBBBBB;
	  border:1px #999 solid;
	  padding:4px 5px 3px 5px;
	  display:inline-block;
	  -moz-border-radius:2px 2px 2px 2px;
	  font:Arial,sans-serif;
	  font-size:13px;
	  margin-right:5px;
	  vertical-align:middle;
	  filter:progid:DXImageTransform.Microsoft.Gradient(startColorStr='#DDDDDD', endColorStr='#FFFFFF', gradientType='0');
}

.textinput {border:1px #6C92AD solid;vertical-align:middle;padding:2px 5px; height:18px; font:400 12px/18px Arial;}
.textinput:hover,.textinput:focus,textarea:hover,textarea:focus,select:hover {-moz-box-shadow:0 0 5px #FF9933;border:1px #FF9933 solid;}
textarea {border:1px #6C92AD solid; padding:2px 5px;}
select{padding:2px; line-height:22px; border:1px #6C92AD solid; vertical-align:middle; z-index:3;}
select option {display:block; vertical-align:middle;}
.big,big a {font-weight:bold !important;}
.tmp-box {width:180px;height:150px;float:left;text-align:center;}
.tmp-box a{display:block;}
.tmp-box img {width:160px;height:120px;margin:0 auto;cursor:pointer;border:2px solid transparent;}
.tmp-box img:hover {border:2px solid #FF0000;}
.tmp-box .tmp-name {height:30px;line-height:30px; clear:both; text-align:center;}
#footer { text-align:center; line-height:20px;clear:both; margin-top:10px;}
#footer p { padding:0px; margin:0px; line-height:20px; text-align:center;}

.btn,.btn span {
	background-image:url(bg.png);
	background-repeat:no-repeat;
	background-attachment:scroll;
	background-color:transparent;
    cursor:pointer;
	overflow:hidden;
	text-align:center;
	white-space:nowrap;
	border:0 none;
	color:#000000;
	margin:0;
	overflow:hidden;
	text-decoration:none;
	display:inline-block;
}

.btn {
	height:24px;
	vertical-align:middle;
}

.btn span {
	line-height:15px;
	margin-right:3px;
	padding:5px 9px 4px 12px;
}

.btn-dft span {
	background-position:-1692px 0;
}
.btn-dft {
	background-position:100% -24px;
}

.btn-hover {
	background-position:100% -72px;
}

.btn-hover span{
	background-position:-1692px -48px;
}

.btn-active {
	background-position:100% -120px;
}

.btn-active span{
	background-position:-1692px -96px;
}

.arr {
     background:url(bg.png) -1657px 5px no-repeat;
	 height:24px;
	 width:22px;
	 margin-left:-22px;
	 display:inline-block;
	 vertical-align:middle;
	 position:static;
}

.arr2 {
     background:url(bg.png) -1657px -32px no-repeat;
	 height:18px;
	 width:18px;
	 position:absolute;
	 right:0px;
}

.arr-asc {
     background:url(bg.png) -1582px -62px no-repeat;
	 height:18px;
	 width:18px;
	 position:absolute;
	 right:0px;
}

.arr-desc {
     background:url(bg.png) -1546px -62px no-repeat;
	 height:18px;
	 width:18px;
	 position:absolute;
	 right:0px;
}

.btnL{
	background-image:url(bg.png);
	background-repeat:no-repeat;
	background-position:-1692px 0;
	font-size:12px;
	cursor:pointer;
	padding:5px 21px 4px 12px;
	line-height:15px;
	vertical-align:middle;
	display:inline-block;
}

.btnL-hover {
    background-image:url(bg.png);
    background-position:-1692px -48px;
	background-repeat:no-repeat;
	font-size:12px;
	vertical-align:middle;
	display:inline-block;
	cursor:pointer;
	padding:5px 21px 4px 12px;
	line-height:15px;
}

.btnL-active {
    background-image:url(bg.png);
    background-position:-1692px -96px;
	background-repeat:no-repeat;
	font-size:12px;
	vertical-align:middle;
	display:inline-block;
	cursor:pointer;
	padding:5px 21px 4px 12px;
	line-height:15px;
}

.btnM{
	background-image:url(bg.png);
	background-repeat:no-repeat;
	background-position:-1695px 0;
	font-size:12px;
	vertical-align:middle;
	padding:5px 21px 4px 12px;
	line-height:15px;
	display:inline-block;
	border-left:1px #969696 solid;
	cursor:pointer;
	margin-left:-3px;
}

.btnM-hover {
	background-image:url(bg.png);
    background-position:-1695px -48px;
	background-repeat:no-repeat;
	font-size:12px;
	vertical-align:middle;
	padding:5px 21px 4px 12px;
	line-height:15px;
	display:inline-block;
	border-left:1px #969696 solid;
	cursor:pointer;
	margin-left:-3px;
}

.btnM-active {
    background-position:-1695px -96px;
	background-image:url(bg.png);
	background-repeat:no-repeat;
	font-size:12px;
	vertical-align:middle;
	padding:5px 21px 4px 12px;
	line-height:15px;
	display:inline-block;
	border-left:1px #969696 solid;
	cursor:pointer;
	margin-left:-3px;
}

.btnR{
	background-image:url(bg.png);
	background-repeat:no-repeat;
	background-position:100% -24px;
	font-size:12px;
	vertical-align:middle;
	display:inline-block;
	overflow:hidden;
	margin:0px 3px 0px -3px;
	padding-right:2px;
	height:24px;
}

.btnR span{
	background-image:url(bg.png);
	background-repeat:no-repeat;
	background-position:-1695px 0;
	font-size:12px;
	vertical-align:middle;
	display:inline-block;
	padding:5px 21px 4px 12px;
	border-left:1px #969696 solid;
	cursor:pointer;
}

.btnR-hover{
	background-image:url(bg.png);
	background-repeat:no-repeat;
	background-position:100% -72px;
	font-size:12px;
	vertical-align:middle;
	display:inline-block;
	padding-right:2px;
	overflow:hidden;
	margin:0px 3px 0px -3px;
	height:24px;
}

.btnR-hover span{
	background-image:url(bg.png);
	background-repeat:no-repeat;
	background-position:-1695px -48px;
	font-size:12px;
	vertical-align:middle;
	padding:5px 21px 4px 12px;
	display:inline-block;
	border-left:1px #969696 solid;
	cursor:pointer;
}

.btnR-active{
	background-image:url(bg.png);
	background-repeat:no-repeat;
	background-position:100% -120px;
	font-size:12px;
	font-weight:400;
	vertical-align:middle;
	display:inline-block;
	padding-right:2px;
	overflow:hidden;
	margin:0px 3px 0px -3px;
	height:24px;
}

.btnR-active span{
	background-image:url(bg.png);
	background-repeat:no-repeat;
	background-position:-1695px -96px;
	font-size:12px;
	vertical-align:middle;
	padding:5px 21px 4px 12px;
	display:inline-block;
	border-left:1px #969696 solid;
	cursor:pointer;
}
/*子菜单*/
 .submenu {
    width:140px;
	border:1px #9cb8cc solid;
	position:absolute;
	display:none;
	list-style:none;
	background-color:#FFFFFF;
	margin:4px 0 0 0;
	padding:0px;
	text-align:left;
	margin-left:-13px;
	z-index:150;
}

.submenu li ul {
    width:140px;
	border:1px #9cb8cc solid;
	position:absolute;
	list-style:none;
	background-color:#FFFFFF;
	margin:0px;
	padding:0px;
	text-align:left;
	left:140px;
	display:none;
}

.submenu-bottom {
    width:140px;
	border:1px #9cb8cc solid;
	position:absolute;
	display:none;
	list-style:none;
	background-color:#FFFFFF;
	text-align:left;
	margin-left:-13px;
	bottom:29px;
	z-index:150;
}

.submenu-bottom li ul {
    width:140px;
	border:1px #9cb8cc solid;
	position:absolute;
	list-style:none;
	background-color:#FFFFFF;
	margin:0px;
	padding:0px;
	text-align:left;
	left:140px;
	display:none;
	bottom:0px;
}

.submenu li, .submenu-bottom li {
    list-style:none;
	height:24px;
	line-height:24px;
	overflow:hidden;
	clear:both;
}

.submenu li a, .submenu-bottom li a{
	padding-left:10px;
	text-decoration:none;
	display:inline-block;
	float:left;
	width:100%;
}

.submenu li a:hover, .submenu-bottom li a:hover{
	background-color:#5D99CE;
	color:#FFFFFF;
}

.pos-div {
    clear:both;
	height:28px;
	line-height:28px;
	margin:0 auto;
	overflow:hidden;
	color:#666666;
	margin-bottom:3px;
}

.pos-div2 {
    clear:both;
	height:28px;
	line-height:28px;
	margin:0 auto;
	overflow:hidden;
	color:#666666;
	margin-bottom:5px;
	border-bottom:2px #9CB8CC solid;
}

.pos-div h2,.pos-div2 h2 {
    padding:0px;
	margin:0px;
	margin-right:5px;
	float:left;
	font-size:12px;
}
.pos-div h2 span{font-weight:400;}
.pos-div .searchbox,.pos-div2 .searchbox{
	float:right;
	text-align:left;
	margin-right:5px;
} 

.pos-div a,.pos-div2 a{
    color:#005590;
}

.toolbar {
    background-image:url(bgx.png);
	background-repeat:repeat-x;
	background-position:0px -144px;
	height:30px;
	clear:both;
	padding:5px 5px 0px 5px;
	position:relative;
	vertical-align:middle;
	display:block;
	z-index:auto;
}

.toolbar .pagebox {
    float:right;
	text-align:left;
	height:24px;
	line-height:24px;
	display:inline-block;
	vertical-align:middle;
}

table.list {
    width:100%;
	border:0px;
	margin: 0 auto;
	padding:0;
	clear:both;
　　word-wrap:break-word;
}

table.list th {
    background:url(bgx.png) 0px -252px repeat-x;
	height:24px;
	vertical-align:middle;
	font-size:12px;
	font-weight:400;
	padding:0 5px;
	text-align:left;
	border-width:1px 1px 1px 0px;
	border-style:solid;
	border-color:#CCCCCC;
	white-space:nowrap;
	overflow:hidden;
}

table.list th.last {
    background:url(bgx.png) 0px -252px repeat-x;
	height:24px;
	vertical-align:middle;
	font-size:12px;
	font-weight:400;
	padding:0 5px;
	text-align:left;
	border-width:1px 0px 1px 0px;
	border-style:solid;
	border-color:#CCCCCC;
	white-space:nowrap;
	overflow:hidden;
}

table.list td{
    background-color:#FFFFFF;
	vertical-align:middle;
	font-size:12px;
	font-weight:400;
	padding:3px 5px;
	text-align:left;
	border-bottom:1px #CCCCCC solid;
}

table.list td span.mdate{
    color:#999999;
	cursor:default;
}

table.list tr.active td {
    background-color:#FFFFCA;
}

table.list td span,table.list td img{
    cursor:pointer;
}

table.list td.tocenter,table.list th.tocenter{text-align:center;}

table.form-table {
    width:100%;
	border:0px;
	margin: 0 auto;
	padding:0;
	clear:both;
	background-color:#F6F9FC;
}

table.form-table td {
    padding:5px;
	text-align:left;
}

/*登陆框*/
.loginbox {width:640px;height:160px;margin:0 auto;margin-top:150px;clear:both;}
.loginbox .left {width:310px;text-align:left;float:left;padding-right:20px;background: url(login-bg.gif) right center no-repeat; margin-top:10px;}
.loginbox .left p {font-size:12px;color:#666666;}
.loginbox .right {width:260px;float:left;margin-left:10px;}
.loginbox .right li {text-align:left;vertical-align:middle;list-style:none;height:30px;line-height:30px;}
.loginbox .right li.li2{margin-top:5px;}
.loginbox .right li .linput {padding:2px 3px;width:130px;height:18px;border:1px #6C92AD solid;}
.loginbox .right li .linput:hover {padding:2px 3px;width:130px;height:18px;border:1px #FF9933 solid;}
.loginbox .right li .lable{width:36px;height:30px;line-height:30px;margin-right:10px;vertical-align:middle;clear:left;float:left;}
/**统计**/
.tongji {
    clear:both;
	border:1px #CCCCCC solid;
	width:100%;
}

.tongji th {
    background:url(bgx.png) 0px -252px repeat-x;
	height:24px;
	line-height:24px;
	padding:0px 5px;
	text-align:left;
	border-bottom:1px #ccc solid;
	vertical-align:middle；
}

.tongji td {
    height:28px;
	line-height:28px;
	padding:0px 5px;
	text-align:left;
	vertical-align:middle;
}

.msg_g {
    border:1px #666666 solid;
	font-size:12px;
	color:#fff;
	vertical-align:middle;
	display:none;
	background:url(yes.gif) 5px 5px no-repeat #006633;
	padding:5px 5px 3px 24px;
}

.msg_r{
    border:1px #666666 solid;
	font-size:12px;
	color:#CC0000;
	vertical-align:middle;
	margin:5px 0px;
	background:url(no.gif) 5px 5px no-repeat #FFCC99;
	padding:0px 5px 0px 22px;
	height:22px;
	line-height:20px;
	padding-top:2px;
	font-weight:bold;
	overflow:hidden;
	position:relative;
	display:none;
	margin:5px 10px;
}

.msg_r #close {
    background:url(bg.png) -1615px -103px no-repeat;
	height:16px;
	width:16px;
	margin-top:1px;
	cursor:pointer;
	position:absolute;
	right:3px;
	border:1px solid transparent;
}

.msg_r #close:hover{
    background:url(bg.png) -1615px -103px no-repeat #FFFF99;
    border:1px #993333 solid;
}

.c_box {
    margin-left:5px;
	position:absolute;
	display:none;
}
/**小图标**/
.icon-add {
    background:url(bg.png) -1615px -320px no-repeat;
	height:16px;
	width:16px;
	border:1px solid transparent;
	cursor:pointer;
	display:inline-block;
}

.icon-add:hover {
    background:url(bg.png) -1615px -320px no-repeat #FFFFFF;
    border:1px #CCCCCC solid;
}

.icon-drop {
    background:url(bg.png) -1615px -103px no-repeat;
	height:16px;
	width:16px;
	border:1px solid transparent;
	cursor:pointer;
	display:inline-block;
}

.icon-drop:hover {
    background:url(bg.png) -1615px -103px no-repeat #FFFFFF;
    border:1px #CCCCCC solid;
}

.icon-edit {
    background:url(bg.png) -1615px -356px no-repeat;
	height:16px;
	width:16px;
	border:1px solid transparent;
	cursor:pointer;
	display:inline-block;
}

.icon-edit:hover {
    background:url(bg.png) -1615px -356px no-repeat #FFFFFF;
    border:1px #CCCCCC solid;
}

.icon-docs {
    background:url(bg.png) -1404px -251px no-repeat;
	height:16px;
	width:16px;
	border:1px solid transparent;
	cursor:pointer;
	display:inline-block;
}

.icon-docs:hover {
    background:url(bg.png) -1404px -251px no-repeat #FFFFFF;
	border:1px #CCCCCC solid;
}
/** 图组上传**/
.title-div {
    clear:both;
	text-align:left;
	margin:5px 0px;
	vertical-align:middle;
}

.title-div .label1 {
    width:65px;
	float:left;
	text-align:left;
	vertical-align:middle;
	height:26px;
	line-height:26px;
}

.title-div .label2 {
    width:65px;
	float:left;
	text-align:left;
	vertical-align:middle;
	height:55px;
	line-height:55px;
}

.title-div .label3 {
    float:left;
	padding-left:5px;
	vertical-align:middle;
}

.title-div .label3 .drop {
    border:1px solid transparent;
	vertical-align:middle;
	display:inline-block;
	cursor:pointer;
	height:20px;
	width:20px;
	background:url(no.gif) center no-repeat;
}

.title-div .label3 .drop:hover {
    border:1px solid #aaa;
	vertical-align:middle;
	display:inline-block;
	background-color:url(no.gif) center no-repeat #FFFFCC;
}
.title-div .label3 .file{width:480px;}
.title-div .label3 textarea {height:55px; width:480px;}
table.imagetable {width:100%;border:0px;margin: 0 auto;padding:0;clear:both;}
table.imagetable td {padding:10px 5px; text-align:left; border-bottom:1px #ccc solid;}
table.imagetable td.thumbbox {text-align:left; padding:5px; width:200px; height:150px;}
table.imagetable td.thumbbox img {max-width:200px; max-height:150px;}
table.imagetable td ul {clear:both; text-align:left;}
table.imagetable td ul li {padding:5px 0; clear:both;}
.ctrlenter{color:#666666;}
.messagebox {padding:20px; width:60%; margin:50px auto; clear:both; border:1px #CCCCCC solid;}
.messagebox h3{margin:0; padding:6px 0 5px 36px; line-height:26px; font-size:15px;}
.messagebox h3.ok{background:url(information.gif) left center no-repeat;}
.messagebox h3.error{background:url(warning.gif) left center no-repeat;}
.messagebox h3.confirm{background:url(confirm.gif) left center no-repeat;}
.messagebox .messagediv {clear:both; padding:5px;}
.messagebox .messagediv a{margin-right:5px;}
.area {clear:both; margin:0 20px;}
.formtable {clear:both; width:100%; background:#f6f9fc;}
.formtable td{padding:7px 10px 5px 0; border-bottom:1px #e2e2e2 dotted;}
.formtable td li {line-height:150%;}
.formtable td.bold {font-weight:bold;}
.formtable td input.txt {width:300px;}
.formtable td textarea {width:300px; height:60px;}
.yourpos {background:url(position_bg.gif) repeat-x; height:32px; line-height:26px; overflow:hidden; padding:0 10px;}
.yourpos a,.yourpos span{background:url(position_dot.gif) no-repeat; display:inline-block; padding-left:18px;}
.titlediv {clear:both; padding:6px 0; border-bottom:3px #DEEFFA solid; font:bold 13px ''; color:#0099CC;}