{if $operation=='addnew'||$operation=='edit'}
<div class="main-div">
	<div class="pos-div">
	     <h2>{$lang.cp_home} &raquo; {$lang.job.manage} &raquo; {if $operation == 'addnew'}{$lang.job.addnew}{else}{$lang.job.edit}{/if}</h2>
	</div>
	<div class="toolbar">
		<span class="btn btn-dft" onclick="SaveJob()" onmouseover="this.className='btn btn-hover'" onmouseup="this.className='btn btn-hover'" onmousedown="this.className='btn btn-active'" onmouseout="this.className='btn btn-dft'" tabindex="0"><span>{$lang.save}</span></span>
		<span class="btn btn-dft" onclick="LoadPage('cid={$cid}')" onmouseover="this.className='btn btn-hover'" onmouseup="this.className='btn btn-hover'" onmousedown="this.className='btn btn-active'" onmouseout="this.className='btn btn-dft'" tabindex="0"><span>{$lang.back_list}</span></span>
		<span class="btn btn-dft" onclick="window.location.reload()" onmouseover="this.className='btn btn-hover'" onmouseup="this.className='btn btn-hover'" onmousedown="this.className='btn btn-active'" onmouseout="this.className='btn btn-dft'" tabindex="0"><span>{$lang.refresh}</span></span>
		<span class="ctrlenter">　{$lang.ctrlenter}</span>
	</div>
	<form name="newjob" action="{$adminscript}?action=job&operation=save" method="post">
	<input type="hidden" name="id" value="{$job.id}" />
	<table border="0" cellspacing="0" cellpadding="0" class="form-table">
	  <tr>
		<td width="60">{$lang.job.category}：</td>
		<td>
		<select name="jobnew[cid]">
			<!--{foreach from=$categories.0 item=cc}-->
			<option class="big" value="{$cc.cid}"{if $cc.current} selected="selected"{/if}{if $cc.disabled==1} disabled="disabled"{/if}>{$cc.name}</option>
			<!--{assign var='sub' value=$cc.cid}-->
			<!--{foreach from=$categories.$sub item=ccc}-->
			<option value="{$ccc.cid}"{if $ccc.current} selected="selected"{/if}{if $ccc.disabled==1} disabled="disabled"{/if}>{$ccc.name}</option>
			<!--{/foreach}-->
			<!--{/foreach}-->
		</select>
		</td>
	  </tr>
	  <tr>
		<td>{$lang.job.title}：</td>
		<td><input type="text" class="textinput" name="jobnew[title]" id="title" size="55" value="{$job.title}" /></td>
	  </tr>
	  <tr>
		<td>{$lang.keywords}：</td>
		<td><input type="text" class="textinput" name="jobnew[tags]" size="55" value="{$job.tags}" /></td>
	  </tr>
	  <tr>
		<td>{$lang.job.numbers}：</td>
		<td><input type="text" class="textinput" name="jobnew[numbers]" size="55" value="{$job.numbers}" /></td>
	  </tr>
	  <tr>
		<td>{$lang.job.salary}：</td>
		<td><input type="text" class="textinput" name="jobnew[salary]" size="55" value="{$job.salary}" /></td>
	  </tr>
	  <tr>
		<td>{$lang.job.respon}：</td>
		<td><textarea name="jobnew[respon]" style="width:600px; height:200px;">{$job.respon}</textarea></td>
	  </tr>
	  <tr>
		<td>{$lang.job.content}：</td>
		<td><textarea name="jobnew[content]" style="width:600px; height:200px;">{$job.content}</textarea></td>
	  </tr>
	</table>
	</form>
	<div class="toolbar">
		<span class="btn btn-dft" onclick="SaveJob()" onmouseover="this.className='btn btn-hover'" onmouseup="this.className='btn btn-hover'" onmousedown="this.className='btn btn-active'" onmouseout="this.className='btn btn-dft'" tabindex="0"><span>{$lang.save}</span></span>
		<span class="btn btn-dft" onclick="LoadPage('cid={$cid}')" onmouseover="this.className='btn btn-hover'" onmouseup="this.className='btn btn-hover'" onmousedown="this.className='btn btn-active'" onmouseout="this.className='btn btn-dft'" tabindex="0"><span>{$lang.back_list}</span></span>
		<span class="btn btn-dft" onclick="window.location.reload()" onmouseover="this.className='btn btn-hover'" onmouseup="this.className='btn btn-hover'" onmousedown="this.className='btn btn-active'" onmouseout="this.className='btn btn-dft'" tabindex="0"><span>{$lang.refresh}</span></span>
		<span class="ctrlenter">　{$lang.ctrlenter}</span>
	</div>
</div>
{literal}<script type="text/javascript">
var hassubmited = false;
function SaveJob(){
	if(hassubmited)return false;
	if(!$('#title').val()){
		showError('职位名称不能为空!');
		return false;
	}
	hassubmited = true;
	document.newjob.submit();
	return true;
}
document.onkeydown = function(e){
	e=window.event||e;
	if(e.ctrlKey&&e.keyCode==13){
	   SaveJob();
	}
}
</script>{/literal}
{else}
<div class="main-div">
    <div class="pos-div">
	     <h2>{$lang.cp_home} &raquo; {$lang.job.manage} &raquo; {$lang.job.list}{if $cid>0} &raquo; {$category.name}{/if}　{$lang.total}{$totalrecords}{$lang.total_records}</h2>
		 <div class="searchbox">
		 	  <select name="cid" id="cid" onchange="ListTable('cid='+this.value)">
			  <option value="0" class="big">{$lang.category.all}</option>
			  <!--{foreach from=$categories.0 item=cc}-->
			  <!--{assign var='sub' value=$cc.cid}-->			  
			  <option value="{$cc.cid}" class="big"{if $cc.current} selected="selected" {/if}>{$cc.name}</option>
			  <!--{foreach from=$categories.$sub item=ccc}-->
			  <option value="{$ccc.cid}" {if $ccc.current} selected="selected" {/if}>　|-{$ccc.name}</option>
			  <!--{/foreach}-->
			  <!--{/foreach}-->
			  </select>
		      <input type="text" name="q" id="q" value="{$filter.key}" class="textinput" style="width:145px;" />
			  <span class="btn btn-dft" onclick="ListTable('cid={$cid}&q='+$('#q').val())" onmouseup="this.className='btn btn-hover'" onmousedown="this.className='btn btn-active'" onmouseover="this.className='btn btn-hover'" onmouseout="this.className='btn btn-dft'" tabindex="0"><span>{$lang.search}</span></span>
		 </div>
	</div>
	<div class="toolbar">
		<span class="pagebox">{$pagelink}</span>
		<span class="btn btn-dft" onclick="Drop('id[]','{$querystring}');" onmouseup="this.className='btn btn-hover'" onmousedown="this.className='btn btn-active'" onmouseover="this.className='btn btn-hover'" onmouseout="this.className='btn btn-dft'" tabindex="0"><span><b>{$lang.drop}</b></span></span>
		<span class="btn btn-dft" onclick="LoadPage('operation=addnew&cid={$cid}');" onmouseup="this.className='btn btn-hover'" onmousedown="this.className='btn btn-active'" onmouseover="this.className='btn btn-hover'" onmouseout="this.className='btn btn-dft'" tabindex="0"><span>{$lang.job.addnew}</span></span>
		<span id="btnbox">
		   <span class="btnL" onclick="ShowSubMenu(this);" onmouseup="this.className='btnL-hover'" onmousedown="this.className='btnL-active'" onmouseout="this.className='btnL'" onmouseover="this.className='btnL-hover'" tabindex="0">{$lang.markas}
			<ul class="submenu" onmouseover="ShowMenu(this)" onmouseout="HideMenu(this)">
			     <li><a href="javascript:;" onclick="toggleTable('id[]','operation=audited&{$querystring}&value=1')">{$lang.audited}</a></li>
				 <li><a href="javascript:;" onclick="toggleTable('id[]','operation=audited&{$querystring}&value=0')">{$lang.unaudited}</a></li>
			</ul>
	       </span><b class="arr"></b>
		   <span class="btnM" onclick="ShowSubMenu(this)" onmouseup="this.className='btnM-hover'" onmousedown="this.className='btnM-active'" onmouseout="this.className='btnM'" onmouseover="this.className='btnM-hover'" tabindex="0">{$lang.moveto}
			<ul class="submenu" onmouseover="ShowMenu(this)" onmouseout="HideMenu(this)">
				 <!--{foreach from=$categories.0 item=group}-->
				 <li><a href="javascript:;" onclick="toggleTable('id[]','operation=move&cid={$group.cid}')"><b>{$group.name}</b></a></li>
				 <!--{assign var='sub' value=$group.cid}-->
				 <!--{foreach from=$categories.$sub item=menu}-->
				 <li><a href="javascript:;" onclick="toggleTable('id[]','operation=move&cid={$menu.cid}')">　&raquo;{$menu.name}</a></li>
				 <!--{/foreach}-->
				 <!--{/foreach}-->
			</ul>
		   </span><b class="arr"></b>
		   <span class="btnM" onclick="ShowSubMenu(this)" onmouseup="this.className='btnM-hover'" onmousedown="this.className='btnM-active'" onmouseout="this.className='btnM'" onmouseover="this.className='btnM-hover'" tabindex="0">{$lang.view}
			<ul class="submenu" onmouseover="ShowMenu(this)" onmouseout="HideMenu(this)">
			     <li><a href="javascript:;" onclick="ListTable('audited=1')">{$lang.unaudited}</a></li>
				 <li><a href="javascript:;" onclick="ListTable()">{$lang.job.all}</a></li>
				 <!--{foreach from=$categories.0 item=group}-->
				 <li><a href="javascript:;" onclick="ListTable('cid={$group.cid}')"><b>{$group.name}</b></a></li>
				 <!--{assign var='sub' value=$group.cid}-->
				 <!--{foreach from=$categories.$sub item=menu}-->
				 <li><a href="javascript:;" onclick="ListTable('cid={$menu.cid}')">　&raquo;{$menu.name}</a></li>
				 <!--{/foreach}-->
				 <!--{/foreach}-->
			</ul>
		   </span><b class="arr"></b>
		   <span class="btnR" onclick="ShowSubMenu(this)" onmouseover="this.className='btnR-hover'" onmouseup="this.className='btnR-hover'" onmousedown="this.className='btnR-active'" onmouseout="this.className='btnR'" tabindex="0">
		     <span>{$lang.more}
			    <ul class="submenu" onmouseover="ShowMenu(this)" onmouseout="HideMenu(this)">
				    <li><a href="javascript:;" onclick="ListTable('{$querystring}&sort=ASC')">{$lang.ascorder}<b class="arr-asc"></b></a></li>
					<li><a href="javascript:;" onclick="ListTable('{$querystring}&sort=DESC')">{$lang.descorder}<b class="arr-desc"></b></a></li>
				</ul>
				</span><b class="arr"></b>
	       </span>
		</span>
		<span class="btn btn-dft" onclick="LoadPage('{$querystring}')" onmouseup="this.className='btn btn-hover'" onmousedown="this.className='btn btn-active'" onmouseover="this.className='btn btn-hover'" onmouseout="this.className='btn btn-dft'" tabindex="0"><span>{$lang.refresh}</span></span>
    </div>
	<form method="post" name="jobs" id="jobs" style="margin:0; padding:0;">
	<table border="0" cellpadding="0" cellspacing="0" class="list" width="100%">
		<tr>
			<th width="20"><input type="checkbox" name="checkall" onclick="checkAll(this,'id[]')" /></th>
			<th width="20"><img src="images/icon_view.gif" border="0" width="16" height="16" /></th>
			<th style="cursor:pointer;" onclick="ListTable('{$querystring}&do=sort&orderby=id')" title="{$lang.click_resort}">{$lang.job.title}</th>
			<th width="80">{$lang.job.salary}</th>
			<th width="60" class="tocenter">{$lang.job.numbers}</th>
			<th width="30" class="tocenter">{$lang.audited}</th>
			<th width="30" class="tocenter" style="cursor:pointer;" onclick="ListTable('{$querystring}&do=sort&orderby=views')" title="{$lang.click_resort}">{$lang.clicks}</th>
			<th class="last" width="140" style="cursor:pointer;" onclick="ListTable('{$querystring}&do=sort&orderby=time')" title="{$lang.click_resort}">{$lang.dateline}</th>
		</tr>
		{foreach from=$jobs item=job}
		<tr>
			<td><input type="checkbox" name="id[]" value="{$job.id}" onclick="checkThis(this)" /></td>
			<td><a href="{$job.joburl}" target="_blank"><img src="images/icon_view.gif" border="0" width="16" height="16" /></a></td>
			<td><a href="{$adminscript}?action=job&operation=edit&id={$job.id}">{$job.title}</a></td>
			<td><span onClick="Edit(this,'operation=edit_salary&id={$job.id}')">{$job.salary}</span></td>
			<td class="tocenter"><span onClick="Edit(this,'operation=edit_numbers&id={$job.id}')">{$job.numbers}</span></td>
			<td class="tocenter"><img src="images/{if $job.audited==1}yes.gif{else}no.gif{/if}" title="{$lang.click_switch}" onclick="toggle(this,'operation=toggle_audited&id={$job.id}');" /></td>
			<td class="tocenter">{$job.views}</td>
			<td><span class="mdate">{$job.dateline|date_format:'%Y-%m-%d %H:%I'}</span></td>
		</tr>
		{/foreach}
		<tr>
			<td colspan="8">
			{$lang.select}:
			<a href="javascript:;" onclick="selectAll('id[]')">{$lang.selectall}</a> - 
			<a href="javascript:;" onclick="cancelAll('id[]')">{$lang.noselect}</a> - 
			<a href="javascript:;" onclick="reverseAll('id[]')">{$lang.reverseselect}</a> - 
			<a href="javascript:;" onclick="ListTable('audited=1')">{$lang.unaudited}</a>
			</td>
		</tr>
	</table>
	</form>
	<div class="toolbar">
		<span class="pagebox">{$pagelink}</span>
		<span class="btn btn-dft" onclick="Drop('id[]','{$querystring}');" onmouseup="this.className='btn btn-hover'" onmousedown="this.className='btn btn-active'" onmouseover="this.className='btn btn-hover'" onmouseout="this.className='btn btn-dft'" tabindex="0"><span><b>{$lang.drop}</b></span></span>
		<span class="btn btn-dft" onclick="LoadPage('operation=addnew&cid={$cid}');" onmouseup="this.className='btn btn-hover'" onmousedown="this.className='btn btn-active'" onmouseover="this.className='btn btn-hover'" onmouseout="this.className='btn btn-dft'" tabindex="0"><span>{$lang.job.addnew}</span></span>
		<span id="btnbox">
		   <span class="btnL" onclick="ShowSubMenu(this);" onmouseup="this.className='btnL-hover'" onmousedown="this.className='btnL-active'" onmouseout="this.className='btnL'" onmouseover="this.className='btnL-hover'" tabindex="0">{$lang.markas}
			<ul class="submenu-bottom" onmouseover="ShowMenu(this)" onmouseout="HideMenu(this)">
			     <li><a href="javascript:;" onclick="toggleTable('id[]','operation=audited&{$querystring}&value=1')">{$lang.audited}</a></li>
				 <li><a href="javascript:;" onclick="toggleTable('id[]','operation=audited&{$querystring}&value=0')">{$lang.unaudited}</a></li>
			</ul>
	       </span><b class="arr"></b>
		   <span class="btnM" onclick="ShowSubMenu(this)" onmouseup="this.className='btnM-hover'" onmousedown="this.className='btnM-active'" onmouseout="this.className='btnM'" onmouseover="this.className='btnM-hover'" tabindex="0">{$lang.moveto}
			<ul class="submenu-bottom" onmouseover="ShowMenu(this)" onmouseout="HideMenu(this)">
				 <!--{foreach from=$categories.0 item=group}-->
				 <li><a href="javascript:;" onclick="toggleTable('id[]','operation=move&cid={$group.cid}')"><b>{$group.name}</b></a></li>
				 <!--{assign var='sub' value=$group.cid}-->
				 <!--{foreach from=$categories.$sub item=menu}-->
				 <li><a href="javascript:;" onclick="toggleTable('id[]','operation=move&cid={$menu.cid}')">　&raquo;{$menu.name}</a></li>
				 <!--{/foreach}-->
				 <!--{/foreach}-->
			</ul>
		   </span><b class="arr"></b>
		   <span class="btnM" onclick="ShowSubMenu(this)" onmouseup="this.className='btnM-hover'" onmousedown="this.className='btnM-active'" onmouseout="this.className='btnM'" onmouseover="this.className='btnM-hover'" tabindex="0">{$lang.view}
			<ul class="submenu-bottom" onmouseover="ShowMenu(this)" onmouseout="HideMenu(this)">
			     <li><a href="javascript:;" onclick="ListTable('audited=1')">{$lang.unaudited}</a></li>
				 <li><a href="javascript:;" onclick="ListTable()">{$lang.job.all}</a></li>
				 <!--{foreach from=$categories.0 item=group}-->
				 <li><a href="javascript:;" onclick="ListTable('cid={$group.cid}')"><b>{$group.name}</b></a></li>
				 <!--{assign var='sub' value=$group.cid}-->
				 <!--{foreach from=$categories.$sub item=menu}-->
				 <li><a href="javascript:;" onclick="ListTable('cid={$menu.cid}')">　&raquo;{$menu.name}</a></li>
				 <!--{/foreach}-->
				 <!--{/foreach}-->
			</ul>
		   </span><b class="arr"></b>
		   <span class="btnR" onclick="ShowSubMenu(this)" onmouseover="this.className='btnR-hover'" onmouseup="this.className='btnR-hover'" onmousedown="this.className='btnR-active'" onmouseout="this.className='btnR'" tabindex="0">
		     <span>{$lang.more}
			    <ul class="submenu-bottom" onmouseover="ShowMenu(this)" onmouseout="HideMenu(this)">
				    <li><a href="javascript:;" onclick="ListTable('{$querystring}&sort=ASC')">{$lang.ascorder}<b class="arr-asc"></b></a></li>
					<li><a href="javascript:;" onclick="ListTable('{$querystring}&sort=DESC')">{$lang.descorder}<b class="arr-desc"></b></a></li>
				</ul>
				</span><b class="arr"></b>
	       </span>
		</span>
		<span class="btn btn-dft" onclick="LoadPage('{$querystring}')" onmouseup="this.className='btn btn-hover'" onmousedown="this.className='btn btn-active'" onmouseover="this.className='btn btn-hover'" onmouseout="this.className='btn btn-dft'" tabindex="0"><span>{$lang.refresh}</span></span>
    </div>
</div>
{/if}