{if !$inajax}<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>{$pagetitle} {$lang.cp_home}</title>
<link href="images/style.css" rel="stylesheet" type="text/css">
<script type="text/javascript">
var ADMINSCRIPT = '{$adminscript}';
var loading = '{$lang.loading}';
var complete = '{$lang.complete}';
var please_select = '{$lang.please_select}';
var no_select = '{$lang.no_select}';
var drop_confirm = '{$lang.drop_confirm}';
var drop_success = '{$lang.drop_success}';
var priv_error = '{$lang.priv_error}';
</script>
<script src="static/js/jquery.js" type="text/javascript"></script>
<script src="static/js/common.js" type="text/javascript"></script>
<script src="static/js/admincp.js" type="text/javascript"></script>
</head>
<body>
<div class="msg_r" id="msg"></div>
<span id="bodyFrame">{/if}