<!--{if $operation=='addnew'||$operation=='edit'}-->
<div class="main-div">
	<div class="pos-div">
	     <h2>{$lang.cp_home} &raquo; {$lang.about.manage} &raquo; {if $operation eq 'edit'}{$lang.about.edit}{else}{$lang.about.addnew}{/if}</h2>
	</div>
	<div class="toolbar">
		<span class="btn btn-dft" onclick="SaveAbout()" onmouseover="this.className='btn btn-hover'" onmouseup="this.className='btn btn-hover'" onmousedown="this.className='btn btn-active'" onmouseout="this.className='btn btn-dft'" tabindex="0"><span>{$lang.save}</span></span>
		<span class="btn btn-dft" onclick="LoadPage()" onmouseover="this.className='btn btn-hover'" onmouseup="this.className='btn btn-hover'" onmousedown="this.className='btn btn-active'" onmouseout="this.className='btn btn-dft'" tabindex="0"><span>{$lang.back_list}</span></span>
		<span class="btn btn-dft" onclick="window.location.reload()" onmouseover="this.className='btn btn-hover'" onmouseup="this.className='btn btn-hover'" onmousedown="this.className='btn btn-active'" onmouseout="this.className='btn btn-dft'" tabindex="0"><span>{$lang.refresh}</span></span>
		<span class="ctrlenter">¡¡{$lang.ctrlenter}</span>
	</div>
  	<form action="{$adminscript}?action=about&operation=save" method="post" name="form1">
    <input type="hidden" name="id" value="{$article.id}" />
    <table border="0" cellspacing="0" cellpadding="0" class="form-table">
      <tr>
        <td width="60">{$lang.about.title}£º</td>
        <td><input name="aboutnew[title]" id="about_title" type="text" value="{$article.title}" class="textinput" style="width:386px;" /></td>
      </tr>
      <tr>
        <td>{$lang.keywords}£º</td>
        <td><textarea name="aboutnew[keywords]" id="about_keywords"  class="textinput" style="width:460px; height:60px;">{$article.keywords}</textarea></td>
      </tr>
      <tr>
        <td colspan="2">{$fckeditor}</td>
        </tr>
    </table>
  	</form>
	<div class="toolbar">
		<span class="btn btn-dft" onclick="SaveAbout()" onmouseover="this.className='btn btn-hover'" onmouseup="this.className='btn btn-hover'" onmousedown="this.className='btn btn-active'" onmouseout="this.className='btn btn-dft'" tabindex="0"><span>{$lang.save}</span></span>
		<span class="btn btn-dft" onclick="LoadPage()" onmouseover="this.className='btn btn-hover'" onmouseup="this.className='btn btn-hover'" onmousedown="this.className='btn btn-active'" onmouseout="this.className='btn btn-dft'" tabindex="0"><span>{$lang.back_list}</span></span>
		<span class="btn btn-dft" onclick="window.location.reload()" onmouseover="this.className='btn btn-hover'" onmouseup="this.className='btn btn-hover'" onmousedown="this.className='btn btn-active'" onmouseout="this.className='btn btn-dft'" tabindex="0"><span>{$lang.refresh}</span></span>
		<span class="ctrlenter">¡¡{$lang.ctrlenter}</span>
	</div>
</div>
<script type="text/javascript">
var hassubmited = false;
var message = '{$lang.about.title_empty}';
{literal}function SaveAbout(){
	if(hassubmited)return false;
	var theForm = document.form1;
	if(!$("#about_title").val()){
		showError(message);
		return false;
	}else{
		hassubmited = true;		
		theForm.submit();
		return true;
	}
}
document.onkeydown = function(e){
	e=window.event||e;
	if(e.ctrlKey&&e.keyCode==13){
	   SaveAbout();
	}
}{/literal}
</script>
<!--{else}-->
<div class="main-div">
    <div class="pos-div">
	     <h2>{$lang.cp_home} &raquo; {$lang.about.manage} &raquo; {$lang.about.list}¡¡{$lang.total}{$totalrecords}{$lang.total_records}</h2>
		 <div class="searchbox">
	      	<input type="text" name="q" id="q" value="{$smarty.get.q}" class="textinput" style="width:145px;" />
			<span class="btn btn-dft" onclick="ListTable('q='+$('#q').val())" onmouseup="this.className='btn btn-hover'" onmousedown="this.className='btn btn-active'" onmouseover="this.className='btn btn-hover'" onmouseout="this.className='btn btn-dft'" tabindex="0"><span>{$lang.search}</span></span>
		 </div>
	</div>
	<div class="toolbar">
		<span class="pagebox">{$pagelink}</span>
		<span class="btn btn-dft" onclick="Drop('id[]','{$querystring}')" onmouseover="this.className='btn btn-hover'" onmouseup="this.className='btn btn-hover'" onmousedown="this.className='btn btn-active'" onmouseout="this.className='btn btn-dft'"><span><b>{$lang.drop}</b></span></span>
		<span class="btn btn-dft" onclick="LoadPage('operation=addnew')" onmouseover="this.className='btn btn-hover'" onmouseup="this.className='btn btn-hover'" onmousedown="this.className='btn btn-active'" onmouseout="this.className='btn btn-dft'"><span>{$lang.about.addnew}</span></span>
		<span class="btn btn-dft" onclick="LoadPage('{$querystring}')" onmouseover="this.className='btn btn-hover'" onmouseup="this.className='btn btn-hover'" onmousedown="this.className='btn btn-active'" onmouseout="this.className='btn btn-dft'" tabindex="0"><span>{$lang.refresh}</span></span>
	</div>
  	<table width="100%" border="0" cellspacing="0" cellpadding="0" class="list">
    <tr>
      <th width="20"><input type="checkbox" onclick="checkAll(this,'id[]')" /></th>
	  <th width="15" class="tocenter"><img src="images/icon_view.gif" width="16" height="16" /></th>
      <th width="160">{$lang.about.title}</th>
	  <th>{$lang.keywords}</th>
	  <th width="80">{$lang.author}</th>
	  <th width="145" class="last">{$lang.dateline}</th>
    </tr>
	<!--{foreach from=$articles item=arc}-->
    <tr onmouseover="this.className='active'" onmouseout="this.className=''">
      <td><input type="checkbox" name="id[]" value="{$arc.id}" onclick="checkThis(this)" /></td>
	  <td class="tocenter"><a href="about.php?id={$arc.id}" target="_blank"><img src="images/icon_view.gif" border="0" title="{$lang.views}" width="16" height="16" /></a></td>
      <td><a href="{$adminscript}?action=about&operation=edit&id={$arc.id}">{$arc.title}</a></td>
	  <td>{$arc.keywords}</td>
	  <td>{$arc.author}</td>
	  <td><span class="mdate">{$arc.dateline|date_format:'%Y-%m-%d %H:%M:%S'}</span></td>
    </tr>
	<!--{/foreach}-->
	<tr><td colspan="6">{$lang.select}:
		<a href="javascript:;" onclick="selectAll('id[]')">{$lang.selectall}</a> - 
		<a href="javascript:;" onclick="cancelAll('id[]')">{$lang.noselect}</a> - 
		<a href="javascript:;" onclick="reverseAll('id[]')">{$lang.reverseselect}</a>
	</td></tr>
  </table>
<div class="toolbar">
	<span class="pagebox">{$pagelink}</span>
	<span class="btn btn-dft" onclick="Drop('id[]','{$querystring}')" onmouseover="this.className='btn btn-hover'" onmouseup="this.className='btn btn-hover'" onmousedown="this.className='btn btn-active'" onmouseout="this.className='btn btn-dft'"><span><b>{$lang.drop}</b></span></span>
	<span class="btn btn-dft" onclick="LoadPage('operation=addnew')" onmouseover="this.className='btn btn-hover'" onmouseup="this.className='btn btn-hover'" onmousedown="this.className='btn btn-active'" onmouseout="this.className='btn btn-dft'"><span>{$lang.about.addnew}</span></span>
	<span class="btn btn-dft" onclick="LoadPage('{$querystring}')" onmouseover="this.className='btn btn-hover'" onmouseup="this.className='btn btn-hover'" onmousedown="this.className='btn btn-active'" onmouseout="this.className='btn btn-dft'" tabindex="0"><span>{$lang.refresh}</span></span>
</div>
</div>
<!--{/if}-->