<link href="static/uploadify/uploadify.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="static/uploadify/swfobject.js"></script>
<script type="text/javascript" src="static/uploadify/jquery.uploadify.v2.1.4.min.js"></script>
<script type="text/javascript">var sessionid='{$sessionid}'; var gid="{$gid}"; var cid="{$cid}"; var files = new Array();</script>
{literal}<script type="text/javascript">
$(function() {
	$('#uploadify').uploadify({
		'uploader'  : 'static/uploadify/uploadify.swf',
		'script'    : ADMINSCRIPT+'?action=uploadify',
		'scriptData': {'sessionid':sessionid,'gid':gid,'cid':'cid'}, 
		'fileExt'   : '*.jpg;*.gif;*.png;',
  		'fileDesc'  : 'Images Files (.JPG ,.GIF , PNG)',
		'cancelImg' : 'static/uploadify/cancel.png',
		'folder'    : '',
		'multi'     : true,
		'queueID'   : 'queueitem',
		'removeCompleted' : false,
		'queueSizeLimit' : 10,
  		'simUploadLimit' : 1,
		'sizeLimit'   : 0,
		'onComplete':function(event, ID, fileObj, response, data){files.push(response)},
		'onAllComplete'  : function(event,data) {
			alert("文件上传完成。");
		  	window.location = ADMINSCRIPT+'?action=imagefile&cid='+cid+'&gid='+gid+'&files='+files.join(',');
		}
	});	
});
</script>{/literal}
<div class="main-div">
<div class="pos-div">
	 <h2>{$lang.cp_home} &raquo; {$lang.image.manage} &raquo; {$image.title} &raquo; {$lang.image.upload}</h2>
</div>
<div class="toolbar">
	<span class="btn btn-dft" onclick="this.className='btn btn-active';LoadPage('cid={$cid}&gid={$gid}')" onmouseup="this.className='btn btn-hover'" onmousedown="this.className='btn btn-active'" onmouseover="this.className='btn btn-hover'" onmouseout="this.className='btn btn-dft'" tabindex="0"><span>{$lang.imagefile.viewfiles}</span></span>
	<span class="btn btn-dft" onclick="this.className='btn btn-active';Location('{$adminscript}?action=image&cid={$cid}')" onmouseup="this.className='btn btn-hover'" onmousedown="this.className='btn btn-active'" onmouseover="this.className='btn btn-hover'" onmouseout="this.className='btn btn-dft'" tabindex="0"><span>{$lang.imagefile.backgroups}</span></span>
	<span class="btn btn-dft" onclick="this.className='btn btn-active';Location('{$adminscript}?action=image&operation=addnew&cid={$cid}')" onmouseup="this.className='btn btn-hover'" onmousedown="this.className='btn btn-active'" onmouseover="this.className='btn btn-hover'" onmouseout="this.className='btn btn-dft'" tabindex="0"><span>{$lang.image.addnew}</span></span>
	<span class="btn btn-dft" onclick="this.className='btn btn-active';LoadPage('operation=remotefile&cid={$cid}&gid={$gid}')" onmouseup="this.className='btn btn-hover'" onmousedown="this.className='btn btn-active'" onmouseover="this.className='btn btn-hover'" onmouseout="this.className='btn btn-dft'" tabindex="0"><span>{$lang.imagefile.remotefile}</span></span>
	<span class="btn btn-dft" onclick="this.className='btn btn-active';window.location.reload();" onmouseup="this.className='btn btn-hover'" onmousedown="this.className='btn btn-active'" onmouseover="this.className='btn btn-hover'" onmouseout="this.className='btn btn-dft'" tabindex="0"><span>{$lang.refresh}</span></span>
</div>
<table border="0" cellpadding="0" cellspacing="0" class="form-table">
	<tr>
		<td width="400">
			<table width="100%" border="0" cellspacing="1">
			  <tr>
				<td width="1"><input type="file" name="Filedata" id="uploadify" /></td>
				<td><input type="button" class="button" value="上传" onclick="$('#uploadify').uploadifyUpload()" style="height:30px;" /></td>
			  </tr>
			</table>
			<div id="queueitem" style="border:1px #ccc solid; padding:10px; width:400px; height:380px; overflow:scroll;"></div>
		</td>
		<td>{$lang.image_tips_0}</td>
	</tr>
</table>
<div class="toolbar">
	<span class="btn btn-dft" onclick="this.className='btn btn-active';LoadPage('cid={$cid}&gid={$gid}')" onmouseup="this.className='btn btn-hover'" onmousedown="this.className='btn btn-active'" onmouseover="this.className='btn btn-hover'" onmouseout="this.className='btn btn-dft'" tabindex="0"><span>{$lang.imagefile.viewfiles}</span></span>
	<span class="btn btn-dft" onclick="this.className='btn btn-active';Location('{$adminscript}?action=image&cid={$cid}')" onmouseup="this.className='btn btn-hover'" onmousedown="this.className='btn btn-active'" onmouseover="this.className='btn btn-hover'" onmouseout="this.className='btn btn-dft'" tabindex="0"><span>{$lang.imagefile.backgroups}</span></span>
	<span class="btn btn-dft" onclick="this.className='btn btn-active';Location('{$adminscript}?action=image&operation=addnew&cid={$cid}')" onmouseup="this.className='btn btn-hover'" onmousedown="this.className='btn btn-active'" onmouseover="this.className='btn btn-hover'" onmouseout="this.className='btn btn-dft'" tabindex="0"><span>{$lang.image.addnew}</span></span>
	<span class="btn btn-dft" onclick="this.className='btn btn-active';LoadPage('operation=remotefile&cid={$cid}&gid={$gid}')" onmouseup="this.className='btn btn-hover'" onmousedown="this.className='btn btn-active'" onmouseover="this.className='btn btn-hover'" onmouseout="this.className='btn btn-dft'" tabindex="0"><span>{$lang.imagefile.remotefile}</span></span>
	<span class="btn btn-dft" onclick="this.className='btn btn-active';window.location.reload();" onmouseup="this.className='btn btn-hover'" onmousedown="this.className='btn btn-active'" onmouseover="this.className='btn btn-hover'" onmouseout="this.className='btn btn-dft'" tabindex="0"><span>{$lang.refresh}</span></span>
</div>
</div>