<div style="padding:5px 0 0 10px;">
<div class="pos-div2"><strong>系统提示</strong></div>
<div class="main-div">
	<p>建议使用Firefox浏览器，以达到最佳体验效果。　<a href="http://download.firefox.com.cn/releases/webins/4.0/zh-CN/Firefox-latest.exe" target="_blank">下载最新版Firefox浏览器。</a></p>
	<p><script type="text/javascript" src="http://www.songdewei.com/news.php?timestamp={$timestamp}"></script></p>
</div>
<div class="pos-div2"><strong>开放团队</strong></div>
<div class="main-div">
   <div class="blank"></div>
   <table width="100%" border="0" cellspacing="0" cellpadding="0">
     <tr>
       <td width="80" height="28">项目策划</td>
       <td>David Song</td>
     </tr>
     <tr>
       <td height="28">程序开发</td>
       <td>David Song</td>
     </tr>
     <tr>
       <td height="28">界面设计</td>
       <td>David Song</td>
     </tr>
     <tr>
       <td height="28">文档整理</td>
       <td>David Song</td>
     </tr>
    <tr>
      <td width="80" height="28">官方网址</td>
      <td><a href="http://www.songdewei.com" target="_blank">http://www.songdewei.com</a>　<a href="http://www.toking.cc" target="_blank">http://www.toking.cc</a></td>
    </tr>
    <tr>
      <td height="28">技术支持</td>
      <td>拓垦科技 QQ:<a href="tencent://message/?Uin=307718818" target="_blank">307718818</a> , MSN:<a href="msnim:chat?contact=songdewei@hotmail.com">songdewei@hotmail.com</a></td>
    </tr>
     <tr>
       <td width="80" height="28">版权所有</td>
       <td>&copy;2010-2099 <a href="http://www.toking.cc" target="_blank">北京拓垦科技有限公司</a>版权所有，并保留所有权利。</td>
     </tr>
     <tr>
       <td height="28">程序版本</td>
       <td>V1.0测试版。</td>
     </tr>
  </table>
</div>
<div class="pos-div2"><strong>{$lang.server_info}</strong></div>
<div class="main-div">
  <table border="0" align="center" cellpadding="0" cellspacing="0" width="100%">
    <tr>
      <td width="90" height="30">{$lang.server_os}：</td>
      <td width="260" height="30">{$sys_info.os}</td>
      <td width="100">{$lang.server_ip}：</td>
      <td>{$sys_info.ip}</td>
    </tr>
    
    <tr>
      <td height="30">{$lang.web_server}：</td>
      <td height="30">{$sys_info.web_server}</td>
      <td>{$lang.php_ver}：</td>
      <td>{$sys_info.php_ver}</td>
    </tr>
    <tr>
      <td height="30">{$lang.mysql_ver}：</td>
      <td height="30">{$sys_info.mysql_ver}</td>
      <td>{$lang.server_issocket}：</td>
      <td>{$sys_info.socket}</td>
    </tr>
    <tr>
      <td height="30">{$lang.server_iszlib}：</td>
      <td height="30">{$sys_info.zlib}</td>
      <td>{$lang.server_max_upload}：</td>
      <td>{$sys_info.max_filesize}</td>
    </tr>
    <tr>
      <td height="30">{$lang.safe_mode}：</td>
      <td height="30">{$sys_info.safe_mode}</td>
      <td>{$lang.safe_mode_gid}：</td>
      <td>{$sys_info.safe_mode_gid}</td>
    </tr>
    <tr>
      <td height="30">{$lang.gd_ver}：</td>
      <td height="30">{$sys_info.gd}</td>
      <td>{$lang.web_charset}：</td>
      <td>{$sys_info.charset}</td>
    </tr>
  </table>
</div>
<div class="bottom-line"></div>
</div>